.popup__container {
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  position: relative;
  padding: 35px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 580px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
    padding: 25px 22px;
  }
}
